/* Background color using :root */
:root {
    background-color: rgb(135, 206, 235);
}

/* Article paragraphs */
article p:first-child {
    color: white;
    background: black;
}

article p:nth-child(2) {
    color: black;      /* default text */
}

article p:last-child {
    color: red;
}

/* Unordered list styling */
ul li {
    width: 50%;
    padding: 10px;
    background: gray;
}

/* Odd items → white background */
ul li:nth-child(odd) {
    background: white;
}

/* First and last list items → font size 22px */
ul li:first-child,
ul li:last-child {
    font-size: 22px;
}

/* Third-to-last item → pink background */
ul li:nth-last-child(3) {
    background: pink;
}
